$width-button: 60px;
$margin-button: 2px;

body {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
  width: 100%;
  margin: 0 auto;
  background: black;
  padding: 20px;
  max-width: ($width-button + ($margin-button * 2)) * 4;
}

.value {
  margin: 0;
  font-size: 40px;
  text-align: right;
}
